.DS_Store
*~
*.log
*.js.meta
node_modules/
build/
build.zip
.idea/a-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
static_assets/scene.obj
*.obj
*.gltf
*.png
.idea/
*.mp4